[submodule "ext/openjdk"]
	path = ext/openjdk
	url = https://github.com/ikvmnet/jdk8u.git
	ignore = dirty
	shallow = true
[submodule "ext/jtreg"]
	path = ext/jtreg
	url = https://github.com/ikvmnet/jtreg.git
	ignore = dirty
	shallow = true
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
	ignore = dirty
	shallow = true
