<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <dllmap dll="ikvm" os="windows" cpu="armv8" target="runtimes/win-arm64/native/ikvm.dll" />
    <dllmap dll="ikvm" os="windows" cpu="x86" target="runtimes/win-x86/native/ikvm.dll" />
    <dllmap dll="ikvm" os="windows" cpu="x86-64" target="runtimes/win-x64/native/ikvm.dll" />
    <dllmap dll="ikvm" os="linux" cpu="arm " target="runtimes/linux-arm/native/libikvm.so" />
    <dllmap dll="ikvm" os="linux" cpu="armv8" target="runtimes/linux-arm64/native/libikvm.so" />
    <dllmap dll="ikvm" os="linux" cpu="x86-64" target="runtimes/linux-x64/native/libikvm.so" />
    <dllmap dll="ikvm" os="osx" cpu="armv8" target="runtimes/osx-arm64/native/libikvm.dylib" />
    <dllmap dll="ikvm" os="osx" cpu="x86-64" target="runtimes/osx-x64/native/libikvm.dylib" />
</configuration>
