<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <dllmap dll="ikvm" os="linux" cpu="arm " target="runtimes/linux-arm/libikvm.so" />
    <dllmap dll="ikvm" os="linux" cpu="armv8" target="runtimes/linux-arm64/libikvm.so" />
    <dllmap dll="ikvm" os="linux" cpu="x86-64" target="runtimes/linux-x64/libikvm.so" />
    <dllmap dll="ikvm" os="osx" cpu="armv8" target="runtimes/osx-arm64/libikvm.dylib" />
    <dllmap dll="ikvm" os="osx" cpu="x86-64" target="runtimes/osx-x64/libikvm.dylib" />
</configuration>