<RunSettings>
    <JTRegConfiguration>
        <PartitionCount>16</PartitionCount>
        <TimeoutFactor>16</TimeoutFactor>
        <ExcludeListFile>ProblemList.txt</ExcludeListFile>
        <ExcludeListFile>ExcludeList.txt</ExcludeListFile>
        <ExcludeListFile>ExcludeList.tfm.txt</ExcludeListFile>
    </JTRegConfiguration>
</RunSettings>
